<script type="text/javascript" language="JavaScript">
<!--
function showphoto(photoid) { 
	if (document.getElementById(photoid).className=="span4 border_all" )
		document.getElementById(photoid).className="span1";
	else
		document.getElementById(photoid).className="span4 border_all";
}
--></script>

<li>
<div class="row" >
	<div class="span">
		<% if $CURRENT_TRAVELTRACK != nil %>
			<%= form_for($CURRENT_TRAVELTRACK.planrelationships.build(micropost_id: plan_feed_item.id, positionindex: $CURRENT_INDEX + 1 )) do |f| %>
				<%= f.hidden_field :positionindex %>
				<%= f.hidden_field :micropost_id %>
				<%= f.submit "<", class: "btn btn-small" %>
			<% end %>
		<% end %>
	</div>

	<% @infotype = plan_feed_item.infotype %>
	<%= render partial: 'shared/show_plantype', locale: { infotype: @infotype} %>
	
	<% if plan_feed_item.infotype == "track" then%>
		<div class="infoother span"><%= plan_feed_item.startpoint %> - <%= plan_feed_item.endpoint %></div>
	<% elsif plan_feed_item.infotype == "note" then%>
		<div class="infoother span"><%= plan_feed_item.parent	 %></div>
	<% else %>
		<div class="infoother span"><%= plan_feed_item.infoname %></div>
	<% end %> 
	<div class="plandate span"><%= link_to "x", plan_feed_item, method: :delete, data: { confirm: "Are you sure?" } %></div>
	
	<div class = "span3">
	<div class="row" >
		<aside class="span3"><%= plan_feed_item.content %></aside>

		<% if  plan_feed_item.photo_file_name !=  nil then %>
			<% jpara = 'showphoto(' << String(plan_feed_item.id) << ')' %>
			<div id = "<%= plan_feed_item.id %>" class="span1"><%= image_tag plan_feed_item.photo(:large) , onclick: jpara  %> </div>
		<% end %>

	</div>
	</div>
</div>
</li>