<div class="row">

<%= form_for(@travelplan) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="span3">
    <%= f.text_field :locale, placeholder: "地点" %>
  </div>
   
  <div class="span3">
    <%= f.text_field :planname, placeholder: "计划标题" %>
  </div>
  
  <div class="span3">
    <%= f.text_area :content, placeholder: "计划详细内容...", class: "plan_full" %>
  </div>
 
  <div class = "span3">
  <%= f.submit "继续", class: "btn btn-small btn-primary" %>
  </div>
  
  <% end %>
